<h2><%= l(:label_issue_importer) %></h2>

<%= form_tag({:controller => 'importer', :action => 'match', :project_id => @project}, {:multipart => true}) do %>

  <p><%= l(:label_upload_notice) %></p>
  <p><%= file_field_tag 'file', :size => 60 %></p>

  <fieldset class="box tabular"><legend><%= l(:label_upload_format) %></legend>

    <p><%= label_tag('encoding', l(:label_upload_encoding)) %>
    <%= select_tag 'encoding', options_for_select([nil] + Setting::ENCODINGS, :selected => 'CP932') %></p>

    <p><%= label_tag('splitter', l(:label_upload_splitter)) %>
    <%= text_field_tag 'splitter', ',', {:size => 3, :maxlength => 1} %></p>

    <p><%= label_tag('wrapper', l(:label_upload_wrapper)) %>
    <%= text_field_tag 'wrapper', '"', {:size => 3, :maxlength => 1} %></p>

  </fieldset>

  <%= submit_tag l(:button_upload) %>
<% end %>
