<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'importer', :plugin => 'redmine_importer' %>
<% end %>

<script type="text/javascript">
  Event.observe(window, 'load', function() {
    Event.observe('update_issue', 'change', function() {
      $('unique_field').disabled = $('journal_field').disabled = $('update_other_project').disabled = $('ignore_non_exist').disabled = !$('update_issue').checked;
    })
  }, false);
</script>

<h2><%= l(:label_match_columns) %></h2>

<%= form_tag({:controller => 'importer', :action => 'result', :project_id => @project}, {:multipart => true}) do %>
  <fieldset class="box"><legend><%= l(:label_match_select) %></legend>
    <% @headers.each do |column| %>
      <label class="tabular"><%= column %>:
        <%= select_tag "fields_map[#{column}]", options_for_select([nil] + @attrs, @attrs.find(proc {[nil,nil]}){|a|column == a[0]}[1] ) %></label>
    <% end %>
  </fieldset>

  <fieldset class="box"><legend><%= l(:label_import_rule) %></legend>
    <table class="rules">

      <tr><td>
          <%= label_tag 'default_tracker', l(:label_default_tracker) %>
          <%= select_tag "default_tracker", options_from_collection_for_select(@project.trackers, 'id', 'name') %>
      </td></tr>

      <tr><td>
          <%= check_box_tag "update_issue", true, false %>
          <%= label_tag 'update_issue', l(:label_update_issue) %>
      </td></tr>

      <tr><td class="append">
          <%= label_tag 'unique_field', l(:label_unique_field) %>
          <%= select_tag "unique_field", options_for_select(@headers), {:disabled => true} %>
      </td></tr>

      <tr><td class="append">
          <%= label_tag 'journal_field', l(:label_journal_field) %>
          <%= select_tag "journal_field", options_for_select([nil] + @headers), {:disabled => true} %>
      </td></tr>

      <tr><td class="append">
          <%= check_box_tag "update_other_project", true, false, {:disabled => true} %>
          <%= label_tag 'update_other_project', l(:label_update_other_project) %>
      </td></tr>

      <tr><td class="append">
          <%= check_box_tag "ignore_non_exist", true, false, {:disabled => true} %>
          <%= label_tag 'ignore_non_exist', l(:label_ignore_non_exist) %>
      </td></tr>

    </table>
  </fieldset>

  <%= submit_tag l(:button_submit) %>
<% end %>

<hr/>

<p><%= l(:label_toplines, :filename => @original_filename) %></p>
<table class="list">
  <thead><tr>
      <% @headers.each do |column| %>
        <th><%= column %></th>
      <% end %>
  </tr></thead>
  <tbody>
    <% @samples.each do |issue| -%>
      <tr class="<%= cycle("odd", "even") %>">
        <% issue.each do |column| %><%= content_tag 'td', column[1] %><% end %>
      </tr>
    <% end %>
  </tbody>
</table>
